body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
    text-align: center;
}

.logo {
    max-width:800px;
    max-height:30vh;
    width: auto;
    height:auto;
    filter: drop-shadow(0 0 0.4rem cyan);
}

.large-text .card-text {
    font-size:larger
}

.loading-splash {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .85);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loading-splash .spinner-border {
    width:55px;
    height:55px;
    margin-bottom:1rem;
}

.container {
    margin-top:1rem;
    margin-bottom:1rem;
    
}

.center {
    text-align: center;
}

.modal-title.center {
    width:100%;
}

.vertical-center-children {
    display:flex;
    justify-content:center;
    align-items:center;
}

.btn.btn-wide {
    width: 100%;
}

.btn-group-vertical.btn-group-wide {
    width:100%;
}

.btn-group-vertical.btn-group-wide .btn {
    width:100%;
}

.btn-group.btn-group-wide {
    display:flex;
}

.btn-group.btn-group-wide .btn:not(.btn-min) {
    flex: 1;
    flex-grow: 1;
}

.btn-group.btn-group-wide .btn-min {
    flex-grow:0;
}

.sharp-corners .btn {
    border-radius: 0;
}

.muted {
    color: #b7b7b7;
}

.huge-text {
    font-size: xx-large;
}

h1.tall-margin {
    margin-top:2rem;
    margin-bottom:2rem;
}

.seamless.card-footer {
    background-color: inherit;
    border-top: 0;
}

.error-box {
    margin:auto;
    background-color:lightsteelblue;
    max-width: 600px;
    width:100vw;
}

.error-box pre {
    margin:0;
    padding:1rem;
    max-height: 20rem;
}

.fail-icon {
    width:100px;
    margin-bottom:1rem;
}

.flexbox {
    display:flex;
}

.flexbox .flexcol {
    flex: 1;
    flex-grow: 1;
    margin: auto 10px;
}

.flexbox .flexcol-min {
    flex-grow:0;
    margin: auto 0 auto 10px;
}

.text-checkbox {
    font-size: xx-large;
    line-height:0;
    margin: auto;
}

.col .full-height {
    height: 100%;
}

.card .full-height {
    height: 100%;
}

.card .full-height .flexbox {
    height: 100%;
}

.clickable:hover {
    cursor: pointer;
}

.playlist-card .card-footer {
    background-color: unset;
    border-top:unset;
    padding: 0;
}

.playlist-card .card-body {
    margin: auto;
}

.playlist-card .card-title {
    margin: auto;
    height:100%;
    text-align: center;
}

.playlist-card {
    padding:4px;
}

.global-modal .modal-dialog {
    max-width:700px;
}

.global-modal .table {
    height:200px;
    max-height:200px;
    display: block;
}

.cover-thumbnail {
    max-width:40px;
}

.modal .tracklist {
    max-height:55vh;
    height:600px;
    overflow-y: scroll;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:hover {
    text-decoration: underline;
}